@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: 0;
    scroll-behavior: smooth;
    transition: 0.5s ease-in;
    font-family: Quicksand;
  }
  /* body {
    animation: sudden 1s 5s 1;
  } */
  
  main {
    background-color: #eee;
    display: grid;
    place-content: center;
    height: 100vh;
    text-align: center;
    animation: clippy1 1s 1;
  }
  body > main > div.card {
    /*   background-color: #fff; */
    border-radius: 10px;
    padding: 2vh 2vw;
    max-height: 80vh;
    min-height: 65vh;
    display: grid;
    place-content: center;
    box-shadow: 0px 2px 1rem #ddd;
  }
  body > main > div.card > h2 {
    color: #222;
  }
  body > main > div.card > h2 > span {
    color: #777;
  }
  body > main > div.card > p {
    color: #444;
  }
  body > main > div.card > div.profile-pic > img.profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    padding: 2.5vh;
  }
  body > main > div.card > div.social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4vh 0;
  }
  body > main > div.card > div.social > div.item {
    color: #6329e0;
  }
  body > main > div.card > div.social > div.item > p {
    color: #666;
  }
  body > button.toogle {
    position: absolute;
    top: 50%;
    left: 80%;
    background-color: #6329e0;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    display: grid;
    place-content: center;
  }
  @keyframes clippy1 {
    0% {
      clip-path: circle(0% at 82.5% 54%);
    }
    25% {
      clip-path: circle(10% at 82.5% 54%);
    }
    50% {
      clip-path: circle(5% at 82.5% 54%);
    }
    75% {
      clip-path: circle(15% at 82.5% 54%);
    }
    100% {
      clip-path: circle(100% at 82.5% 54%);
    }
  }

  body > main > div.card > div.portfolio-button{
      margin: auto auto;
  }

  body > main > div.card > div.portfolio-button > a > button.portfolio{
    background: linear-gradient(120deg,#6329e0 , #4f77e3);
color: #ffffff;
padding: 2.5vh 3vw;
border: none;
border-radius: 5px;
text-align: center;
margin: auto auto;
font-size: 16px;
  }
  body > main > div.card > div.portfolio-button > a > button.portfolio:hover{
      background-color: #4f77e3;
  }
 
  body > main > div.card > div.portfolio-button > a > button.portfolio > span{
      padding: auto 1vw;
  font-size: 10px;
  }






  
  /* Dark mode here! */
  
  .dark main {
    background: linear-gradient(120deg,#6329e0 , #4f77e3);
    display: grid;
    place-content: center;
    height: 100vh;
    text-align: center;
    animation: clippy 2s 1;
  }
  .dark div.card {
    background-color: #ddd;
    border-radius: 10px;
    padding: 2vh 2vw;
    max-height: 80vh;
    min-height: 65vh;
    display: grid;
    place-content: center;
    box-shadow: none;
  }
  .dark button.toogle {
    position: absolute;
    top: 50%;
    left: 80%;
    background-color: #fff;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #4f77e3;
    display: grid;
    place-content: center;
  }
  
  @keyframes clippy {
    0% {
      clip-path: circle(1.5% at 82.5% 54%);
    }
    25% {
      clip-path: circle(3% at 72.5% 54%);
    }
    50% {
      clip-path: circle(5% at 50% 54%);
    }
    75% {
      clip-path: circle(7% at 50% 35%);
    }
    100% {
      clip-path: circle(100% at 50% 35%);
    }
  }











  
  @media only screen and (max-width: 600px) {
    body > button.toogle {
      top: 80%;
      left: 50%;
    }
    .dark body > button.toogle {
      top: 5%;
      left: 20%;
      background: yellow;
    }
  }
  